<div class="header" [ngClass]="appService.selectedComponent == 'LANDING'?'landing-header':'dashboard-header'">
    <div>
        <img src="assets/images/iirs-logo.png" alt="" />
    </div>
    <div>
        <div class="logoTxt">
            <p class="goi-header-text">Government of India</p>
            <p class="iirs-header-text">indian institute of remote sensing</p>
            <p class="isro-header-text">Indian Space Research Organisation</p>
        </div>
    </div>
    <div>
        <img src="assets/images/mahatma-gandhi.png" alt="" />
    </div>
</div>